In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('ml-1m/movies.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
users = pd.read_csv('ml-1m/users.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
ratings = pd.read_csv('ml-1m/ratings.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

In [3]:
movies.head()

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [4]:
users.head()

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455

In [5]:
ratings.head()

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291

In [6]:
# Preparing the training set and the test set
training_set = pd.read_csv('ml-100k/u1.base', delimiter = '\t')
training_set = np.array(training_set, dtype = 'int')
test_set = pd.read_csv('ml-100k/u1.test', delimiter = '\t')
test_set = np.array(test_set, dtype = 'int')

In [7]:
training_set

array([[        1,         2,         3, 876893171],
       [        1,         3,         4, 878542960],
       [        1,         4,         3, 876893119],
       ...,
       [      943,      1188,         3, 888640250],
       [      943,      1228,         3, 888640275],
       [      943,      1330,         3, 888692465]])

In [8]:
len(training_set), len(test_set)

(79999, 19999)

In [9]:
# Getting the number of users and movies
nb_users = int(max(max(training_set[:,0]), max(test_set[:,0])))
nb_movies = int(max(max(training_set[:,1]), max(test_set[:,1])))

In [10]:
nb_users, nb_movies

(943, 1682)

In [11]:
# Converting the data into an array with users in lines and movies in columns
def convert(data):
    new_data = []
    for id_users in range(1, nb_users + 1):
        id_movies = data[:,1][data[:,0] == id_users]
        id_ratings = data[:,2][data[:,0] == id_users]
        ratings = np.zeros(nb_movies)
        ratings[id_movies - 1] = id_ratings
        new_data.append(list(ratings))
    return new_data

In [12]:
training_set = convert(training_set)
test_set = convert(test_set)

In [13]:
len(training_set), len(training_set[0])

(943, 1682)

In [14]:
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

In [15]:
# Converting the data into Torch tensors
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

In [16]:
training_set

tensor([[0., 3., 4.,  ..., 0., 0., 0.],
        [4., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [5., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 5., 0.,  ..., 0., 0., 0.]])

In [19]:
# Creating the architecture of the Neural Network
class SAE(nn.Module):
    def __init__(self, ):
        super(SAE, self).__init__()
        self.fc1 = nn.Linear(nb_movies, 20)
        self.fc2 = nn.Linear(20, 10)
        self.fc3 = nn.Linear(10, 20)
        self.fc4 = nn.Linear(20, nb_movies)
        self.activation = nn.Sigmoid()
    def forward(self, x):
        x = self.activation(self.fc1(x))
        x = self.activation(self.fc2(x))
        x = self.activation(self.fc3(x))
        x = self.fc4(x)
        return x

In [20]:
sae= SAE()
criterion= nn.MSELoss()
optimizer= optim.RMSprop(sae.parameters(), lr= 0.01, weight_decay= 0.5)

In [24]:
#training data-set
nb_epoch = 200
for epoch in range(1, nb_epoch + 1):
    train_loss = 0
    s = 0.
    for id_user in range(nb_users):
        input = Variable(training_set[id_user]).unsqueeze(0)
        target = input.clone()
        if torch.sum(target.data > 0) > 0:
            output = sae(input)
            target.require_grad = False
            output[target == 0] = 0
            loss = criterion(output, target)
            mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
            loss.backward()
            train_loss += np.sqrt(loss.data.item()*mean_corrector)
            s += 1.
            optimizer.step()
    print('epoch: '+str(epoch)+' loss: '+str(train_loss/s))

epoch: 1 loss: 1.7583263917200014
epoch: 2 loss: 1.0963283083430562
epoch: 3 loss: 1.05347739275817
epoch: 4 loss: 1.0383581445797263
epoch: 5 loss: 1.0310265374080398
epoch: 6 loss: 1.0266895440452772
epoch: 7 loss: 1.023987697090111
epoch: 8 loss: 1.0219857566244261
epoch: 9 loss: 1.0208261271925623
epoch: 10 loss: 1.0195918382866664
epoch: 11 loss: 1.0188355703664578
epoch: 12 loss: 1.0183128383192446
epoch: 13 loss: 1.0179402524570444
epoch: 14 loss: 1.0174646952432604
epoch: 15 loss: 1.0172775415348305
epoch: 16 loss: 1.0168727682458616
epoch: 17 loss: 1.0168916149510852
epoch: 18 loss: 1.016395592012699
epoch: 19 loss: 1.016181462330032
epoch: 20 loss: 1.0162485952858893
epoch: 21 loss: 1.0162247474587383
epoch: 22 loss: 1.0158166519200211
epoch: 23 loss: 1.0161393591506875
epoch: 24 loss: 1.0157251506552685
epoch: 25 loss: 1.0157769897699278
epoch: 26 loss: 1.015758369436124
epoch: 27 loss: 1.0153941118595124
epoch: 28 loss: 1.015050328884517
epoch: 29 loss: 1.0126472794718866
epoch: 30 loss: 1.0116038896129567
epoch: 31 loss: 1.009857326512501
epoch: 32 loss: 1.0073281322625471
epoch: 33 loss: 1.0069394636958706
epoch: 34 loss: 1.0028111108996818
epoch: 35 loss: 1.0015430283293365
epoch: 36 loss: 0.9990054332037402
epoch: 37 loss: 0.996938803223046
epoch: 38 loss: 0.9956649855167194
epoch: 39 loss: 0.9954710462613902
epoch: 40 loss: 0.9946983988864522
epoch: 41 loss: 0.9912297575183309
epoch: 42 loss: 0.9883467707281167
epoch: 43 loss: 0.9889559924586353
epoch: 44 loss: 0.9849745350741052
epoch: 45 loss: 0.9839918680671307
epoch: 46 loss: 0.9780469548426846
epoch: 47 loss: 0.9857224516619182
epoch: 48 loss: 0.9815243939999378
epoch: 49 loss: 0.9838197014615033
epoch: 50 loss: 0.980153313478019
epoch: 51 loss: 0.9875528653626912
epoch: 52 loss: 0.9812142099405425
epoch: 53 loss: 0.9813321919229234
epoch: 54 loss: 0.9801192472659156
epoch: 55 loss: 0.9768266709782132
epoch: 56 loss: 0.9746185653049111
epoch: 57 loss: 0.9761113778175209
epoch: 58 loss: 0.9733741471985775
epoch: 59 loss: 0.9695187886330361
epoch: 60 loss: 0.9670108924934017
epoch: 61 loss: 0.9704555845385495
epoch: 62 loss: 0.9706680192072922
epoch: 63 loss: 0.9661609486364237
epoch: 64 loss: 0.9650552246650882
epoch: 65 loss: 0.966830448067547
epoch: 66 loss: 0.9612488734828046
epoch: 67 loss: 0.9603843429580251
epoch: 68 loss: 0.9587274259896639
epoch: 69 loss: 0.9565731924625926
epoch: 70 loss: 0.9544752315064299
epoch: 71 loss: 0.9551062193098715
epoch: 72 loss: 0.9539124686282152
epoch: 73 loss: 0.9526181200874705
epoch: 74 loss: 0.951456947786471
epoch: 75 loss: 0.9545054043762374
epoch: 76 loss: 0.9519246870181698
epoch: 77 loss: 0.9502866417512832
epoch: 78 loss: 0.9486650993977781
epoch: 79 loss: 0.949823692060321
epoch: 80 loss: 0.9480712594694084
epoch: 81 loss: 0.947304586914596
epoch: 82 loss: 0.9463691525639418
epoch: 83 loss: 0.9442501587467682
epoch: 84 loss: 0.9440110332993615
epoch: 85 loss: 0.9441181360854917
epoch: 86 loss: 0.9424437679910367
epoch: 87 loss: 0.9431299378336166
epoch: 88 loss: 0.9408641724257394
epoch: 89 loss: 0.9418259419473193
epoch: 90 loss: 0.9401276145578387
epoch: 91 loss: 0.9408128300310215
epoch: 92 loss: 0.9384575467381423
epoch: 93 loss: 0.9389362104710124
epoch: 94 loss: 0.9371591683598052
epoch: 95 loss: 0.9377667927869515
epoch: 96 loss: 0.9361549988233775
epoch: 97 loss: 0.9369613186502159
epoch: 98 loss: 0.934940999499013
epoch: 99 loss: 0.9361392308582546
epoch: 100 loss: 0.9345483619820266
epoch: 101 loss: 0.9343804569845896
epoch: 102 loss: 0.9326429237945074
epoch: 103 loss: 0.9336639465564197
epoch: 104 loss: 0.9317701701736045
epoch: 105 loss: 0.9328504775733346
epoch: 106 loss: 0.9305524955569789
epoch: 107 loss: 0.9316892358642633
epoch: 108 loss: 0.9300775596231751
epoch: 109 loss: 0.9309031072856896
epoch: 110 loss: 0.92899458092486
epoch: 111 loss: 0.9298701127923982
epoch: 112 loss: 0.9281686688652941
epoch: 113 loss: 0.9292190855138932
epoch: 114 loss: 0.9273373179043718
epoch: 115 loss: 0.9283325925356831
epoch: 116 loss: 0.926745543593716
epoch: 117 loss: 0.9275698580831768
epoch: 118 loss: 0.9258536487328602
epoch: 119 loss: 0.9264724357455766
epoch: 120 loss: 0.9249937950313952
epoch: 121 loss: 0.9260580161590417
epoch: 122 loss: 0.9247026592717004
epoch: 123 loss: 0.9247598712366668
epoch: 124 loss: 0.9236813115826689
epoch: 125 loss: 0.9245428275178251
epoch: 126 loss: 0.9232574602331
epoch: 127 loss: 0.923744181940473
epoch: 128 loss: 0.9226651816480104
epoch: 129 loss: 0.9230980563590906
epoch: 130 loss: 0.9225988957333804
epoch: 131 loss: 0.9226044282262036
epoch: 132 loss: 0.9213599711031414
epoch: 133 loss: 0.9215187295974322
epoch: 134 loss: 0.920997665961336
epoch: 135 loss: 0.9210653280135875
epoch: 136 loss: 0.9208130632612228
epoch: 137 loss: 0.9208350413193587
epoch: 138 loss: 0.9204462331228612
epoch: 139 loss: 0.9204086174079109
epoch: 140 loss: 0.9197840771860363
epoch: 141 loss: 0.9201119186432755
epoch: 142 loss: 0.9193496400100052
epoch: 143 loss: 0.9190046180346242
epoch: 144 loss: 0.9189553495614153
epoch: 145 loss: 0.9189087738304713
epoch: 146 loss: 0.9186574787154128
epoch: 147 loss: 0.9186996194333715
epoch: 148 loss: 0.9182685938635722
epoch: 149 loss: 0.9181937366830868
epoch: 150 loss: 0.917943586744827
epoch: 151 loss: 0.9178054872158752
epoch: 152 loss: 0.9175176832941841
epoch: 153 loss: 0.9173808067658059
epoch: 154 loss: 0.9174881887597789
epoch: 155 loss: 0.9170407687309025
epoch: 156 loss: 0.9169375173360114
epoch: 157 loss: 0.916730374502774
epoch: 158 loss: 0.9165653242291435
epoch: 159 loss: 0.9162774663167291
epoch: 160 loss: 0.9164015497855815
epoch: 161 loss: 0.9160830250920797
epoch: 162 loss: 0.9154094438467638
epoch: 163 loss: 0.9153331541446474
epoch: 164 loss: 0.9153918440427901
epoch: 165 loss: 0.9149478442808211
epoch: 166 loss: 0.9143334157551738
epoch: 167 loss: 0.9144334282137767
epoch: 168 loss: 0.9147938478773916
epoch: 169 loss: 0.9141950469430377
epoch: 170 loss: 0.914276831969732
epoch: 171 loss: 0.9137778205020438
epoch: 172 loss: 0.9137304575610218
epoch: 173 loss: 0.9135286740203604
epoch: 174 loss: 0.9131482441263397
epoch: 175 loss: 0.9130615068589973
epoch: 176 loss: 0.912425162572759
epoch: 177 loss: 0.9118142373409008
epoch: 178 loss: 0.9117027826107075
epoch: 179 loss: 0.9110244110151453
epoch: 180 loss: 0.9111903602260183
epoch: 181 loss: 0.9103911891577608
epoch: 182 loss: 0.9101887315314445
epoch: 183 loss: 0.9093798920900754
epoch: 184 loss: 0.9089643598616702
epoch: 185 loss: 0.9084368753345525
epoch: 186 loss: 0.9083935262641001
epoch: 187 loss: 0.9077317113796447
epoch: 188 loss: 0.9071589997017777
epoch: 189 loss: 0.9070313756115842
epoch: 190 loss: 0.9063800448833902
epoch: 191 loss: 0.9058139775505893
epoch: 192 loss: 0.9052624430759905
epoch: 193 loss: 0.9052187423131852
epoch: 194 loss: 0.9042775836156053
epoch: 195 loss: 0.9044362898829871
epoch: 196 loss: 0.9032998303057352
epoch: 197 loss: 0.9031108089972487
epoch: 198 loss: 0.9016406654854662
epoch: 199 loss: 0.9014700159085521
epoch: 200 loss: 0.9007737990475978

In [27]:
#Now the tes part

test_loss = 0
s = 0.
for id_user in range(nb_users):
    input = Variable(training_set[id_user]).unsqueeze(0)
    target = Variable(test_set[id_user]).unsqueeze(0)
    if torch.sum(target.data > 0) > 0:
        output = sae(input)
        target.require_grad = False
        output[target == 0] = 0
        loss = criterion(output, target)
        mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
        test_loss += np.sqrt(loss.data.item()*mean_corrector)
        s += 1.
print('test loss: '+str(test_loss/s))

test loss: 0.9407666821549455